.quiz-container {
  margin: auto;
  color: var(--dark-color);
}

.quiz-question-container {
  display: grid;
}

.quiz-option-button {
  margin-right: 20px;
}

.quiz-option-button:disabled,
.quiz-option-button:disabled:hover {
  cursor: text;
}

.quiz-option-button-disabled,
.quiz-option-button-disabled:hover {
  cursor: text;
  opacity: 0.5;
  border: none;
  background: var(--light-color);
}

.quiz-button-container,
.quiz-option-container,
.quiz-score-container {
  display: flex;
}

.quiz-button-container {
  justify-content: space-between;
  bottom: 10%;
  position: fixed;
  width: inherit;
}

.quiz-outline-button {
  margin-right: 10px;
}

.quiz-option-correct,
.quiz-option-correct:hover,
.quiz-option-wrong,
.quiz-option-wrong:hover {
  color: var(--font-dark-light-bg-color);
  border: none;
}

.quiz-option-correct,
.quiz-option-correct:hover {
  background: var(--primary-color);
}

.quiz-option-wrong,
.quiz-option-wrong:hover {
  background: var(--secondary-color);
}

.quiz-question-text {
  width: 70%;
  font-size: 1.5rem;
  line-height: 1.7;
  margin-bottom: 3rem;
  font-family: "Roboto-Bold";
}

.quiz-score-container {
  align-items: center;
  margin-bottom: 2rem;
}
